= render "shared/header"
.matching
  .matching_num
    = @rooms.size
    人とマッチングしています
  %h2.matching_title マッチングした人一覧
  .matching_list
    - @room_users.zip(@rooms).each do |user,room|
      .matching-user
        .matching-user_img
          - if user.image?
            = image_tag user.image.to_s
          - else
            = image_tag "/images/no_image.jpg", alt: ""
        .matching-user_name
          = user.nickname
        .matching-user_last-message
          = room.last_message
        = link_to "チャットを開く", chat_path(room), class: "chat-form_btn"
