= render "shared/header"
.matching
  .matching_num
    = @matching.size
    人とマッチングしています
  %h2.matching_title マッチングした人一覧
  .matching_list
    - @matching.each do |user|
      .matching-user
        .matching-user_img
          - if user.image?
            = image_tag user.image.to_s
          - else
            = image_tag "/images/no_image.jpg", alt: ""
        .matching-user_name
          = user.nickname
        .matching-user_last-message
          = user.last_message
        = form_tag :chat_index, method: :post do
          %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/
          = submit_tag 'チャットを開く', class: "chat-form_btn"

